* {
	border: none;
	font-family: "Oswald", sans-serif;
}
body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 400px;
	margin: 0px;
}
.postcard-body {
	display: flex;
}

.body-left p:nth-child(2) {
	margin-top: 10px;
}
.body-right input {
	margin-top: 15px;
}

.body-left,
.body-right {
	padding: 5px;
}

input {
	border: none;
	border-bottom: 1px solid rgb(180, 177, 177);
}

.postcard-footer {
	text-align: center;
}

.postcard-footer button {
	border-radius: 10%;
	background-color: rgb(53, 99, 250);
	padding: 3px;
}
